@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap');

*{
margin:0;
padding:0;
font-family:'poppins',sans-serif;
}

body{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://m.media-amazon.com/images/I/51sG+agaZbS._AC_UF1000,1000_QL80_.jpg');
    position:center;
    background-size:cover;
    color:#fff;

}

.counter{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:30px;
    gap:10px;

}

p{
    font-size:15px; 
}

.newyear{
    font-family:'Inspiration',cursive;
    font-size:50px;
    font-weight:400;
    margin-top:30px;
}

.box{
    width:50px;
    height:50px;
    text-align:center;
}

.box h2{
    font-size:15px;
    font-family:monospace;
}

.box small{
    font-size:10px;
}



 @media (min-width:375px) {  /* Mobile M */

    p{
      font-size:15px; 
    }

    .newyear{
        font-size:55px;
        font-weight:400;
    }

    .box{
        width:60px;
        height:60px;
        text-align:center;
        }

    .box h2{
        font-size:20px;
    }

    .box small{
        font-size:15px;
    }

}


@media (min-width:425px) {  /* Mobile L */

    p{
        font-size:20px; 
    }

    .newyear{
        font-size:60px;
        font-weight:400;
    }

    .box{
    width:70px;
    height:70px;
    text-align:center;
    }

    .box h2{
        font-size:30px;
    }
    .box small{
        font-size:15px;
    }

}


@media (min-width:768px) {  /* Tablet */

    p{
        font-size:25px; 
    }

    .newyear{
        font-size:70px;
        font-weight:400;
    }

    .box{
        width:80px;
        height:80px;
        text-align:center;
        }

        .box h2{
            font-size:40px;
        }

        .box small{
            font-size:15px;
        }

}
